CMakeFiles/
CMakeCache.txt
CMakeLists.txt.user
Makefile
build/
.idea/
.vscode/
.vs/
.idea/
cmake-build-debug/
cmake_install.cmake
**/cmake_uninstall.cmake
*.o
**/*.vim*
**/*.swp
**/*.swo
**/tags
**/*.deb
**/*.rpm
